#b1 {
    height: 25px;
    width: 55px;
}

#b2 {
    height: 25px;
    width: 55px;
}

#b3 {
    height: 25px;
    width: 55px;
}

#b4 {
    height: 25px;
    width: 55px;
}

#TextArea {
    border: black solid 3px;
    height: 50px;
    width: 250px;
}

#h {
    font-size: 40px;
}

#b1 {
    border: black solid 2px;
    background-color: #00cc66;
    height: 40px;
    width: 770px;
    font-size: 30px;
}

#c1 {
    background-color: blue;
}

#b1 {
    border: black solid 2px;
    background-color: #00cc66;
    font-size: 30px;
}

.row {
    width: 100%;
    margin: 0px;
}